<div class="container">
  <div class="img-back">
    <img src="../../../assets/background-login.jpg" alt="" srcset="">
  </div>
  <div class="content">
    <h2>Entrar</h2>
  <form action="" method="post">

    <input type="email" name="" id="" placeholder="Email ou numero de telefone">
    <input type="password" name="" id="" placeholder="Senha">

    <button type="submit">Entrar</button>

    <div class="recover">
      <a href=""><input type="checkbox" name="" id=""> Lembre-se de mim</a>

      <a href="#" target="_blank" rel="noopener noreferrer">Precisa de ajuda?</a>
    </div>
  </form>

  <div class="facebook">
    <a href="#" target="_blank" rel="noopener noreferrer">
      <img src="" alt=""> Conectar com Facebook
    </a>
  </div>

</div>
  <!-- <app-footer></app-footer> -->
</div>
