.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100vw;
  height: 100vh;

  .img-back {
    background: #07090a;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 90%;
  }

  .img-back img {
    position: absolute;
    z-index: -1;
    opacity: 80%;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

  }

  .content {
    padding: 3%;
    background: #000;
    opacity: 100%;
    width: 20%;
    height: 40%;
    margin: 20% 10% 20% 20%;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    form {
      display: flex;
      flex-direction: column;

      input {
        margin-top: 3%;
        padding: 2%;
        border-radius: 2%;
        border: none;
        background: #ccc;
        opacity: 50%;
        color: #fff;
      }

      button {
        margin-top: 5%;
        background: #e50914;
        border: none;
        padding: 4%;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        line-height: 50%;
      }

      .recover {
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: #fff;
          opacity: 80%;
        }

        input::after {
          background: #ccc;
        }
      }
    }
  }


}
